# Created by .ignore support plugin (hsz.mobi)
# composer items
vendor/*
composer-setup.php
composer.phar

# .ini files
lib/*.ini.php
!lib/*-template.ini.php

# IDE specific files
/.idea/
/keenmvc.iml

# Developer Tools
/phpunit-5.7.9.phar

# Should be standalone -- no modules
.gitmodules
keenmvc-tests
