<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>KeenMVC: Example Page</title>
    <link rel="stylesheet" href="//css/keen_example.css">
</head>
<body>
<h2>Welcome to KeenMVC!</h2>
<p>
    If you're seeing this on your site, you're off to a good start with KeenMVC. Happy Coding!
</p>
<div class="keen_made"><img src="//img/Keen_Power_01.png" alt="Made with KeenMVC"></div>
</body>
</html>